.gibdd {
    margin: 80px 50px;
    margin-block-end: 80px;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 30px;
    height: 100vh;
}

.nav {
    background-color: transparent;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-block-end: 80px;
}

.nav-button {
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.nav-button:hover {
    background-color: #f6f6f7;
}

.nav-button.active {
    background-color: #99a2ad;
    cursor: inherit;
}

.main-button {
    background-color: #c6cbd0;
    text-align: center;
    font-family: 'IBM Plex mono', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.main-button-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-button-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-button.active:hover {
    background-color: #99a2ad;
}

.main-button:hover {
    background-color: #b3bac0;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.sub-menu.show {
    max-height: 1000px;
}

.block {
    inline-size: 100%;
}

.tables__buttons {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #fff;
    height: fit-content;
    border-radius: 10px;
    margin-block-end: 80px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.table-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'IBM Plex mono', sans-serif;
}

.data-table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
}

.data-table th, .data-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.data-table th {
    background-color: #f2f2f2;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #c6cbd0;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #b3bac0;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.results {
    margin-top: 20px;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
}

.result-table th,
.result-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.result-table th {
    background-color: #f2f2f2;
}

.count {
    margin-top: 20px;
    font-weight: bold;
}

.margin {
    margin-top: 20px;
}

.efficiency-result p {
    margin: 0;
    font-weight: bold;
}

.efficiency-value {
    display: block;
    margin-top: 10px;
    font-size: 2em;
    color: #99a2ad;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 20px;
    width: 509px;
}

.actions button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #c6cbd0;
    color: #000;
    transition: background-color 0.3s ease;
    font-family: Raleway, sans-serif;
}

.actions button:hover {
    background-color: #b3bac0;
}

.form-container input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-container input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select-container {
    margin-bottom: 10px;
}

.select-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    cursor: pointer;
}

.select-wrapper::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
}

.select-wrapper select:focus {
    outline: none;
}

.select-wrapper select:hover {
    border-color: #999;
}

.margin-top {
    margin-top: 20px;
}

.styled-select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.styled-select:focus {
    border-color: #007bff;
    outline: none;
    background-color: #ffffff;
}

.hello_main {
    max-width: 800px;
    margin: 50px;
    font-family: Raleway, sans-serif;
}

.hello_main h1 {
}

.hello_main h2 {
    margin-top: 30px;
}

.hello_main p {
    line-height: 1.6;
    padding-left: 20px;
    font-family: 'IBM Plex mono', sans-serif;
}
